.right-section {
    border-left: 2px solid #E0E0E0;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .lead-details {
    margin-top: 20px;
    background-color: #ECEFF3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lead-details .header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lead-details .details {
    font-size: 14px;
    color: #637381;
  }
  
  .lead-details .details div {
    margin-bottom: 10px;
  }
  
  .activities {
    margin-top: 20px;
    background-color: #ECEFF3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activities .header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .campaign {
    margin-top: 20px;
  }
  
  .campaign div {
    margin-bottom: 10px;
  }
  
  .steps {
    margin-top: 20px;
  }
  
  .steps div {
    margin-bottom: 20px;
  }
  
  .steps img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EEF1F4;
    padding: 4px;
  }
  
  .steps div div {
    margin-left: 10px;
  }
  
  .steps div div div {
    font-size: 12px;
    color: #B9B9B9;
  }
  
  .steps div div div svg {
    margin-right: 4px;
  }
  
  .dark {
    background-color: #23272C;
    color: #fff;
  }
  
  .dark .lead-details {
    background-color: #23272C;
  }
  
  .dark .activities {
    background-color: #23272C;
  }
  
  .dark .steps img {
    background-color: #23272C;
  }
  
  .dark .steps div div div {
    color: #B9B9B9;
  }